 
@import 'bower_components/components-bootstrap/less/bootstrap.less';
@icon-font-path: "bower_components/components-bootstrap/fonts/";


@import 'bower_components/fontawesome/less/font-awesome.less';
@fa-font-path: '../../bower_components/fontawesome/fonts';


@import 'app/styles/datepicker.less';

.centered{
  margin-left: 45px;
}
.new-panel-example{
  margin-top: 14px;
  .new-field-buttons{
    margin-bottom:0px;
  }
}
.textFieldName{
  margin-bottom:4px;
}
#myModal{
  .modal-dialog{
    z-index:1050;
  }
  .menu-header {
    border-radius: 6px 6px 0px 0px;
    background-color: #C8E1E8;
  }
}
.newElementWrapper{
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  &:hover{
    background-color: #E0F2F5;
  }
}
[data-toggle="tooltip"]{
  &[data-original-title="1/2 ширины окна"]{
    margin-left:10px;
  }
}
.sizeRadioButtons{
  margin-top: 7px;
}
.table-condensed tbody tr td{
   padding: 0px;
}
.shaded{
  opacity:0.4;
  pointer-events: none;
}