 
@import 'bower_components/components-bootstrap/less/bootstrap.less';
@icon-font-path: "bower_components/components-bootstrap/fonts/";


@import 'bower_components/fontawesome/less/font-awesome.less';
@fa-font-path: '../../bower_components/fontawesome/fonts';


@import 'app/styles/datepicker.less';

.menu-header {
  border-radius: 6px 6px 0px 0px;
}
.centered{
  margin-left: 3px;
}
.new-panel-example{
  margin-top: 14px;
  .new-field-buttons{
    margin-bottom:0px;
  }
}
.textFieldName{
  margin-bottom:4px;
}
#myModal{
  .modal-dialog{
    z-index:1050;
  }
}