<div class="pull-right" role="group">
    <button type="button" class="btn btn-default btn-xs moveField" data-action="moveFieldUp" data-toggle="tooltip" data-placement="top" data-original-title="Поднять выше">
        <i class="fa fa-arrow-up moveFieldIcon"></i>
    </button>
    <button type="button" class="btn btn-default btn-xs moveField" data-action="moveFieldDown" data-toggle="tooltip" data-placement="top" data-original-title="Переместить ниже">
        <i class="fa fa-arrow-down moveFieldIcon"></i>
    </button>
    <button type="button" class="btn btn-default btn-xs" data-action="editField" data-toggle="tooltip" data-placement="top" data-original-title="Редактировать">
        <i class="fa fa-pencil"></i>
    </button>
    <button type="button" class="btn btn-danger btn-xs" data-action="removeField" data-toggle="tooltip" data-placement="top" data-original-title="Удалить">
        <i class="fa fa-trash-o"></i>
    </button>
</div>