<label for=""> Название поля </label>
<input type="text" class="form-control textFieldName" placeholder="Введите название поля">
<label for=""> Добавить опцию </label>

<div class="selectOptionInput" role="alert">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control optionName current">
            <span class="input-group-btn">
              <button class="btn btn-success addOption" type="button">+</button>
            </span>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Добавленные опции:</div>
    <div class="panel-body">

    <!-- List group -->
        <ul class="list-group">
        </ul>
    </div>
</div>