{{ model.paper }}
<!-- Button trigger modal -->
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header menu-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Выберите действие</h4>
            </div>
            <div class="modal-body menu-body ">
                <div class="btn-group centered menuButtons" role="group">
                    <button type="button" class="btn btn-default formMenu" data-action="ChooseForm"><i class="fa fa-bars"></i>  Выбрать форму</button>
                    <!--<button type="button" class="btn btn-default" data-action="EditForm"><i class="fa fa-pencil-square-o"></i> Редактировать форму</button>-->
                    <button type="button" class="btn btn-default formMenu" data-action="CreateForm"><i class="fa fa-plus"></i>  Создать форму</button>
                </div>
            </div>
            <div class="modal-footer menu-footer hide">
                <div class="pull-left loadedFormActions" role="group">
                    <button type="button" class="btn btn-success use-form-buttons" data-action="UseForm"><i class="fa fa-check"></i> Использовать</button>
                    <button type="button" class="btn btn-warning use-form-buttons" data-action="EditLoadedForm"><i class="fa fa-pencil"></i> Редактировать</button>
                </div>
                <button type="button" class="btn btn-info update-form-buttons" data-action="CancelEditForm"><i class="fa fa-angle-double-left"></i> Назад</button>
                <button type="button" class="btn btn-success update-form-buttons"  data-action="SaveEditedForm"><i class="fa fa-floppy-o"></i> Сохранить</button>
                <button type="button" class="btn btn-success" data-action="Save"><i class="fa fa-floppy-o"></i> Сохранить</button>
                <button type="button" class="btn btn-danger" data-action="Back"><i class="fa fa-ban"></i> Отмена</button>
            </div>
        </div>
    </div>
</div>