<div class="newElementWrapper">
    <div class="form-group">
        <div class="edit-buttons-wrapper"></div>
        <label class="newFieldName"></label>
        <input type="text" class="form-control" id="" placeholder="Текстовое поле">
    </div>
</div>