<div class="newElementWrapper">
    <div class="form-group">
        <label for="" class="newFieldName"></label>
        <div class="row"></div>
        <select class="form-control newSelect" id="">
            <option></option>
        </select>
    </div>
</div>