<div class="newElementWrapper">
    <div class="edit-buttons-wrapper"></div>
    <div class="form-group">
        <div class="row"></div>
        <div class="checkbox">
        </div>
    </div>
</div>