<div class="pull-right" role="group" aria-label="...">
    <button type="button" class="btn btn-default" data-action="addTextfield" data-toggle="tooltip" data-placement="top" title="Добавить текстовое поле">
        <i class="fa fa-align-justify"></i>
    </button>
    <button type="button" class="btn btn-default" data-action="addDate" data-toggle="tooltip" data-placement="top" title="Добавить календарь">
        <i class="fa fa-calendar"></i>
    </button>
    <button type="button" class="btn btn-default" data-action="addCheckbox" data-toggle="tooltip" data-placement="top" title="Добавить флажок">
        <i class="fa fa-check-square"></i>
    </button>
    <button type="button" class="btn btn-default" data-action="addRadio" data-toggle="tooltip" data-placement="top" title="Добавить переключатель">
        <i class="fa fa-circle-thin"></i></i><i class="fa fa-circle"></i>
    </button>
</div>

<div class="row"></div>
<div class="panel panel-default new-panel-example">
    <div class="panel-heading">Новая форма</div>
    <div class="panel-body">

        <div class="well hide" role="alert">
            <div class="example-inner"></div>
            <div class="row"></div>
            <div class="form-group">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Добавить</button>
            <button type="button" class="btn btn-default">Отмена</button>
        </div></div>
        </div>
    </div>
</div>